/*
____ _  _ ____ _ ____ _  _ ____ ____ ___  _  _ ____ 
|    |__| |__/ | [__  |  | |  | | __  |   |\/| |___ 
|___ |  | |  \ | ___]  \/  |__| |__]  |  .|  | |___ 
	                an open source project by @c1v0
*/

/**
 * Style Guide
 */
$accent-grey: #eceff1;
$base-grey: #fefefe;

$cyan-a200: #18ffff;
$cyan-a400: #00E5FF;
$light-green-a200: #b2ff59;
$light-green-a400: #76FF03;

/**
 * Le Styles
 */
@import 'components/typography.scss';
@import 'components/layout.scss';
@import 'components/masthead.scss';
@import 'components/quotes.scss';
@import 'components/stats.scss';
@import 'components/projects.scss';
@import 'components/about.scss';
@import 'components/accents.scss';
@import 'components/plugins.scss';
@import 'components/footer.scss';
@import 'components/social.scss';