.columns.large-centered {
    padding-left: 5px;
    padding-right: 5px;
}
@media only screen and (max-width: 40em) {
    .columns.large-centered {
        font-size: 13px;
    }
}
@media only screen and (min-width: 40.063em) {
    .columns.large-centered {
        font-size: 14px;
    }
}
.about-box {
    color: #fff;
}
.secondary.small.button {
    background-color: transparent;
    color: #fff;
    border: 2px #fff solid;
    border-radius: 5px;
    padding: 15px 50px 15px 50px;
    margin: 0;
}
.secondary.small.button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.row .main-wrapper {
    color: #fff;
}
.button-group li .button {
    border: 0!important;
}
.button {
    -webkit-appearance: none;
    background-color: transparent;
    border-width: 0;
    text-align: center;
    box-shadow: 0 0 0;
}
.button:hover {
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
}
footer p,
footer a {
    font-size: 14px;
}

.panel {
    margin: 40px 0 40px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: #EAEAEA;
}
.large-4 img {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.radius.right.button {
    color: #000;
    border: 2px #000 solid;
    border-radius: 5px;
    padding: 15px 50px 15px 50px;
    margin: 0;
    font-size: 0.8125em;
}
@media only screen and (min-width: 64.063em) {
    .radius.right.button {
        color: #000;
        border: 2px #000 solid;
        border-radius: 5px;
        padding: 15px 50px 15px 50px;
        margin-top: 25px;
        font-size: 0.8125em;
    }
}
@media only screen and (min-width: 40.063em) {
    .radius.right.button {
        color: #000;
        border: 2px #000 solid;
        border-radius: 5px;
        padding: 15px 50px 15px 50px;
        margin-top: 25px;
        font-size: 0.8125em;
    }
}
.radius.right.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
