// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Centers a block-level element.
 */
.center {
    margin: 0 auto;
    display: block;
}

/**
 * Makes an image or element a perfect circle.
 */
img.circle {
    border-radius: 50%;
}

/**
 * Hides an element from the DOM.
 */
.hidden {
    display: none;
}

/**
 * Floats an element to the right.
 */
.pull-right {
    float: right;
}

/**
 * Flexbox helpers
 */
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-self-center {
    align-self: center;
}
