<section id="blog" class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="panel panel-controls text-center text-md-left">
        <p>
          Latest blog posts. <span class="accent">New posts published monthly.</span>
        </p>
      </div>

      <div id="latest-posts">

        {% for post in site.posts limit:5 %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              {{ post.title }}
            </h5>

            <div class="post-date m-b-1 text-small">
              <i class="far fa-calendar-alt"></i> {{ post.date | date: '%B %d, %Y' }}
            </div>

            <p class="card-text">
              {{ post.excerpt }}
            </p>

            <a class="btn btn-primary" href="{{ post.url | relative_url }}" title="{{ post.title }}">
              Read post &raquo;
            </a>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>
  </div>

</section>
