<div id="photos" class="hidden" data-magellan-destination="photos">
  <div class="row">
    <div class="panel large-12 columns">

      <div class="panel panel-controls small-only-text-center">
        <p>
          Recent Photos. <span class="accent">Click on a thumbnail to view in Instagram.</span>

          {% if site.social.instagram_username %}
          <a
            class="button secondary tiny"
            href="{{ site.social.instagram_username }}"
            title="{{ site.social.instagram_username }} on Instagram"
          >
            <i class="fab fa-instagram"></i>
            Visit Instagram
          </a>
          {% endif %}
        </p>
      </div>

      <ul id="feed" class="small-block-grid-3 medium-block-grid-6">
        {% include template/instagram/thumbnail.html %}
      </ul>

      <!-- <div class="panel panel-sub text-center">
        <button type="button" class="js-load-more button tiny dodger-blue" title="Load More">
          <i class="fas fa-sync-alt"></i> Load More
        </button>
      </div> -->

    </div>
  </div>
</div>

{% include template/instagram/modal.html %}
