<div id="ig--feed" class="mb-4 hidden">
  <div class="container">
    <div class="row">
      <div class="bg-light p-3 w-100">
        <div class="bg-white p-4 mb-3 w-100">
          <p class="text-center text-md-left mb-0">
            Latest Photos. <span class="text-secondary font-italic">Click on a thumbnail to view in Instagram.</span>
          </p>
        </div>
        <div id="feed" class="row p-0 m-auto mb-3 w-100">
          {% include template/instagram/thumbnail.html %}
        </div>
      </div>

      {% if site.social.instagram_username %}
      <div class="bg-white text-center p-4 w-100">
        <a
          class="btn btn-primary"
          href="https://www.instagram.com/{{ site.social.instagram_username }}"
          role="button"
          title="{{ site.social.instagram_username }} on Instagram"
        >
          <i class="fab fa-instagram"></i>
          Visit Instagram
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% include template/instagram/modal.html %}
