<section id="projects" class="py-5" data-magellan-destination="projects">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-3 text-md-left mb-3">
        <h3 class="text-white">
          Latest Commit
        </h3>

        <div id="latest-commit" class="text-black">
          <a class="commit-title text-light" href=""></a>
          <time class="timeago commit-date" datetime=""></time> in <a class="repo-title text-light" href=""></a>
        </div>

      </div>

      <div id="latest-repos" class="col-xs-12 col-md-9">
        <h3 class="text-white">
          Latest Repos
        </h3>

        <div id="latest-repos-items" class="row">
          {% include template/latest-repos/placeholder.html %}
          {% include template/latest-repos/link.html %}
        </div>

      </div>
    </div>
</section>
