<section id="projects">
  <svg class="mb-5 align-top" width="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 64">
    <path fill="white" d="M1366,0V60.42c-.2,2.32-88.53,7-218.38-.43-129.74-6.07-301-24.16-464.62-36.87C519.8,9.31,348.92,6,218.94,19.73,89,31.35-.15,60,0,61.54V0Z"/>
  </svg>

  <div class="container pb-5">
    <div class="row">

      <div class="col-xs-12 col-md-3 text-md-left mb-3">
        <h3 class="text-white font-stack-headline">
          Latest Commit
        </h3>

        <div id="latest-commit" class="text-black font-stack-default">
          <a class="commit-title text-light" href=""></a>
          <time class="timeago commit-date" datetime=""></time> in <a class="repo-title text-light" href=""></a>
        </div>

      </div>

      <div id="pinned-repositories" class="col-xs-12 col-md-9">
        <h3 class="text-white">
          Pinned Repositories
        </h3>

        <div id="pinned-repositories-items" class="row">
          {% include template/pinned-repositories/placeholder.html %}
          {% include template/pinned-repositories/link.html %}
        </div>

        {% if site.social.instagram_username %}
        <p class="text-light text-md-right">
          <a class="text-white" href="https://github.com/{{ site.social.github_username }}?tab=repositories" title="View repositories on GitHub">
            View repositories on GitHub
          </a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
