<section id="promote">
  <div class="row">

    <div class="medium-8 columns">

      <p class="show-for-small-only">
        Review my coding habits, last 30 days.
      </p>

      <p class="hidden-for-small-only">
        Review my coding habits from the last 30 days.
      </p>

    </div>

    <div class="medium-4 columns">
      <a
        href="https://stats.chrisvogt.me"
        title="Recent coding habits report"
        class="button expand dodger-blue hvr-float-shadow"
      >
        <i class="fas fa-chart-pie"></i> stats.chrisvogt.me
      </a>
    </div>

  </div>
</section>
