<section id="promote" class="bg-white py-3">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-8 d-md-flex align-items-md-center">
        <p class="d-block d-md-none text-center m-0 pb-3">
          Review recent code report, last 30 days
        </p>
        <p class="d-none d-md-block text-left m-0">
          Review my recent code report for the last 30 days
        </p>
      </div>

      <div class="col-12 col-md-4">
        <a href="https://stats.chrisvogt.me" title="Recent coding habits report"
          class="btn btn-primary btn-block dodger-blue hvr-float-shadow">
          <i class="fas fa-chart-pie"></i> My code report
        </a>
      </div>

    </div>
  </div>
</section>
