<div id="recently-read" class="mb-3 hidden">
  <div class="container">
    <div class="row">
      <div class="bg-light col-lg-12">

        <div class="panel panel-controls text-center text-md-left">
          <p>
            Recently read books. <span class="accent">Click on a thumbnail to view on Google Books.</span>

            {% if site.social.goodreads_link %}
            <a
              href="{{ site.social.goodreads_link }}"
              class="btn btn-primary btn-sm float-md-right"
              title="Chris Vogt on Goodreads"
            >
              <i class="fab fa-goodreads"></i> Visit Goodreads
            </a>
            {% endif %}
          </p>
        </div>

        <div id="recent-books" class="row text-center">
          {% include template/recently-read/book.html %}
        </div>

      </div>
    </div>
  </div>
</div>
