<div id="recently-read" class="hidden">
  <div class="container">
    <div class="row">
      <div class="bg-light col-lg-12">
        <div class="bg-white p-4 mt-3 mb-3 w-100">
          <p class="text-center text-md-left mb-0 font-stack-headline">
            Recently read books. <span class="text-secondary font-stack-default">Click on a thumbnail to view on Google Books.</span>
          </p>
        </div>

        <div id="recent-books" class="row text-center">
          {% include template/recently-read/book.html %}
        </div>

        {% if site.social.goodreads_link %}
        <div class="bg-white text-center p-4 mb-3 w-100">
          <a
            href="{{ site.social.goodreads_link }}"
            class="btn btn-primary"
            title="Chris Vogt on Goodreads"
          >
            <i class="fab fa-goodreads"></i> Visit Goodreads
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
