<!-- Component: Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-gradient-inverse">
  <div class="container">
    <a class="navbar-brand font-stack-headline" href="/">
      {{ site.strings.brand }}
    </a>

    <button
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      data-target="#navbarTogglerDemo02"
      data-toggle="collapse"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav">
        {% for item in site.data.navigation.top.left %}
          {% if item.slug == 'blog' and site.posts.size == 0 %}{% break %}{% endif %}
          <li class="link-{{ item.slug }} nav-item{% if item.class %} {{ item.class }}{% endif %}{% if item.slug == 'blog' and page.layout == 'post' %} active{% endif %}">
            <a class="nav-link text-light font-stack-subhead" href="{{ item.path }}" title="{{ item.title }}">
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
