// -----------------------------------------------------------------------------
// This file contains all styles related to the PHOTOS component.
// -----------------------------------------------------------------------------

#photos {
    .panel-controls {
        background-color: white;
        border-radius: 8px;
        box-shadow: none;
        margin: 24px auto;
        padding: 32px 22px;

        p {
            margin-bottom: 0;
        }

        a {
            margin-bottom: 0;
        }

        span.accent,
        .button.secondary {
            margin-bottom: 0;
            margin-top: -4px;
        }

        span.accent {
            color: $text-asher;
            display: block;
            font-size: .75em;
            margin-bottom: 8px;

            @media only screen and (min-width: 40.063em) {
                display: inline-block;
                margin-bottom: 0;
            }
        }

        .button.secondary {
            color: white;
            background-color: $vegas-gold;

            &:hover {
                background-color: lighten($vegas-gold, 15%);
            }

            @media only screen and (min-width: 40.063em) {
                float: right;
            }
        }
    }

    ul {
        margin: 0 -0.625rem -1.25em;
    }

    .panel-sub {
        margin-top: 1.25rem;
        margin-bottom: .5rem;
        background: none;
    }
}
