// -----------------------------------------------------------------------------
// This file contains all styles related to the PROJECTS component.
// -----------------------------------------------------------------------------

#projects {
    position: relative;
    min-height: 89px;

    li.hidden {
        height: 0;
        opacity: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }

    a.button {
        margin-bottom: 0;
    }

    .panel {
        background: white;
    }

    .panel-loading {
        border-radius: 8px;
        margin: 24px auto;

        span.text-small {
            line-height: 24px;
        }
    }
}

.projects-content {
    position: absolute;
    top: 0;

    .panel-controls {
        box-shadow: none;
        margin: 24px auto;
        padding: 32px 22px;

        p {
            margin-bottom: 0;
        }

        a {
            margin-bottom: 0;
        }

        .switch {
            margin: 1px;
        }

        .small-8 {
            line-height: 34px;
        }

        #filters .f-open-dropdown {
            box-shadow: -5px 5px 5px 5px rgba(0,0,0,.4);
        }

        span.accent,
        #btnFilter {
            margin-bottom: 0;
            margin-top: -4px;
        }

        span.accent {
            color: $text-asher;
            display: block;
            font-size: .75em;
            margin-bottom: 8px;
        }

        #btnFilter {
            color: white;
            background-color: $vegas-gold;
            &:hover {
                background-color: lighten($vegas-gold, 15%);
            }
        }

        @media only screen and (min-width: 40.063em) {
            span.accent {
                display: inline-block;
                margin-bottom: 0;
            }

            #btnFilter {
                float: right;
            }
        }
    }

    ul:hover li {
        opacity: 0.5;
    }

    ul li:hover {
        opacity: 1;
    }

    ul.pagination {
        li {
            height: auto;
        }

        a:hover {
            background: $accent-grey;
            color: #fefefe;
        }

        .mega-octicon {
            font-size: 48px;
            color: $base-grey;
        }
    }
}

ul#tech {
    list-style: none;
    text-align: left;
    padding: 0;
    width: 100%;

    .has-tip {
        border-bottom: none;
    }

    li {
        display: inline-block;
        text-indent: -9999px;
        height: 32px;
        margin-right: 8px;
        background: url("../images/sprite-tech.png") no-repeat;
    }

    .php {
        width: 44px;
    }

    .ruby {
        width: 32px;
        background-position: -44px 0;
    }

    .cakephp {
        width: 32px;
        background-position: -76px 0;
    }

    .jekyll {
        width: 66px;
        background-position: -108px 0;
    }

    .jquery {
        width: 82px;
        background-position: -174px 0;
    }

    .chrome {
        width: 32px;
        background-position: -256px 0;
    }

    .html5 {
        width: 24px;
        background-position: -288px 0;
    }

    .polymer {
        width: 32px;
        background-position: -312px 0;
    }

    .mongodb {
        width: 20px;
        background-position: -344px 0;
    }

    .bower {
        width: 36px;
        background-position: -364px 0;
    }

    .grunt {
        width: 24px;
        background-position: -400px 0;
    }

    .foundation {
        width: 28px;
        background-position: -424px 0;
    }

    .bootstrap {
        width: 34px;
        background-position: -453px 0;
    }

    .sass {
        width: 32px;
        background-position: -486px 0;
    }

    .firebase {
        width: 26px;
        background-position: -518px 0;
    }

    .react {
        width: 32px;
        background-position: -544px 0;
    }

    .webpack {
        width: 32px;
        background-position: -576px 0;
    }

    .nodejs {
        width: 52px;
        background-position: -608px 0;
    }
}

#menu {
    margin-bottom: 288px;
}

#title {
    margin-bottom: 64px;
}

#modal-project {
    border-radius: 4px;
    overflow: hidden;
    padding: 0;

    .row {
        text-align: center;
        padding: 24px;
    }

    .created {
        color: #686868;
        font-style: italic;
        text-align: center;
        font-size: .75em;
    }

    h3 {
        color: $grey-900;
        font-size: 1.55em;
        line-height: 1.4em;
        padding: 10px 0 0;
        margin: 14px 0 0;
    }

    h5 {
        font-size: .9em;

        @media only screen and (min-width: 40.063em) {
            text-align: right;
            margin: 18px 0;
            line-height: 32px;
        }
    }

    #tech {
        @media only screen and (min-width: 40.063em) {
            text-align: left;
            margin: 18px 0;
        }

        @media only screen and (max-width: 40em) {
            text-align: center;
            margin-bottom: 14px;
        }
    }

    header {
        background: #181818;
    }

    .showcase {
        border-top: $divider-light;
        margin-top: 24px;
        padding: 22px 44px;
        background: $blue-grey-50;
    }

    .button-group {
        text-align: center;
    }

    .button-group a {
        margin-bottom: 0;
    }
}
