// -----------------------------------------------------------------------------
// This file contains styles that are specific to the ABOUT page.
// -----------------------------------------------------------------------------

.about-content {
    font-size: .875em;

    .panel {
        background-color: white;
        border-radius: 8px;
        color: $text-raven;
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: .438em;
    }
}
