// -----------------------------------------------------------------------------
// This file contains styles that are specific to the ABOUT page.
// -----------------------------------------------------------------------------

.about-content {
  font-size: .875em;

  .panel {
    background-color: $grey-100;
    border-radius: 8px;
    color: $text-raven;
  }

  h2 {
    margin-bottom: .438em;
  }

  @media #{$medium-up} {
    padding-bottom: 4px;
  }
}
