// -----------------------------------------------------------------------------
// This file contains styles that are specific to the ABOUT page.
// -----------------------------------------------------------------------------

.about-content {
    background-color: white;
    font-size: .875em;
    padding: 50px 0;

    .panel {
        background-color: white;
        color: $text-raven;
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: .438em;
    }
}
