<template id="latest-repo-placeholder">
  <div class="latest-repos-link col-xs-12 col-md-6 mb-3">
      <div class="latest-repo-item panel hvr-trim w-100 h-100">
        <div class="bg-placeholder rounded" style="overflow: hidden;">
          <div class="placeholder-mask header-top"></div>
          <div class="placeholder-mask header-right"></div>
          <div class="placeholder-mask header-bottom"></div>
          <div class="placeholder-mask subheader-left"></div>
          <div class="placeholder-mask subheader-right"></div>
          <div class="placeholder-mask second-paragraph-bottom"></div>
        </div>
      </div>
  </div>
</template>
