// -----------------------------------------------------------------------------
// This file contains all styles related to the QUOTES component.
// -----------------------------------------------------------------------------

section#quote {
	background: $grey-50;
	text-align: center;
	min-height: 200px;
  padding: 50px;
	margin: 0;
	p {
		line-height: 50px;
	}
  .orbit-container {
    min-height: 84px;
  }
	.orbit-timer {
		display: none;
	}
	blockquote {
		border-left: none;
	}
}
.orbit-container .orbit-next > span {
	border-left-color: #6654B0;
}
.orbit-container .orbit-prev > span {
	border-right-color: #6654B0;
}
