/**
 * Elements -- accents
 */
.image-circle {
	border-radius: 50%;
}
.octicon-heart {
	color: #ce0000;
}
footer .fa-twitter {
	color: #55acee;
}
.pull-right {
	float: right;
}
#g-person {
	margin: 0 0 14px 14px;
}