/**
 * Masthead -- hero template
 */
.hero {
	padding-top: 80px;
  padding-bottom: 32px;
  position: relative;
}
.shrunken-head {
	padding-top: 0;
	padding-bottom: 0;
}
#announce {
	bottom: 24px;
  h1 {
    margin-bottom: .6em;
  }
}
