/**
 * Masthead -- hero template
 */
.hero {
	background-image: url("https://cdn.rawgit.com/chrisvogt/chrisvogt.me/master/img/bg-delaunay.png");
	background-attachment: fixed;
	padding-top: 80px;
  padding-bottom: 32px;
  position: relative;
  border-bottom: 1px solid #fefefe;
}
.shrunken-head {
	padding-top: 0;
	padding-bottom: 0;
}
#announce {
	bottom: 24px;
}
