/* Pill style */
#scrollUp {
    bottom: 20px;
    right: 20px;
    background-color: #5D436F;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    opacity: .9;
    padding: 10px 20px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    transition: background 200ms linear;
    -webkit-backface-visibility: hidden;
}
#projects a.button {
    margin-bottom: 0;
}
#scrollUp:hover {
    background-color: #000;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#project-list li,
#social a,
.button {
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
 }

/**
 * Buttons
*/
.button {
  color: #212121;
}
.button.cyan
{
  background-color: #00E5FF;
}
.button.cyan:hover {
  background-color: #00B0FF;
}
.button.light-green
{
  background-color: $light-green-a200;
}
.button.light-green:hover {
  background-color: $light-green-a400;
  color: #212121;
}
.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
}
