/**
 * Section -- projects
 */
.projects-content {
    background-image: url("../images/material-bg.jpg");
    background-attachment: fixed;
    padding-top: 40px;
    padding-bottom: 40px;
    .panel {
        background-color: $base-grey;
        border-radius: 14px;
        box-shadow: none;
        padding: 42px 22px;
        text-align: center;
        a {
            margin-bottom: 0;
        }
    }
    p {
        font-size: 1.125em;
    }
    ul:hover li {opacity: 0.5;}
    ul li:hover {opacity: 1;}
    ul.pagination {
        li {
            height: auto;
        }
        a:hover {
            background: $accent-grey;
            color: #fefefe;
        }
        .mega-octicon {
            font-size: 48px;
            color: $base-grey;
        }
    }
}
#menu {
    margin-bottom: 288px;
}
#title {
    margin-bottom: 64px;
}
#modal-project {
    h3 {
        color: #181818;
        line-height: 1.5em;
        font-size: 1.5em;
        padding-bottom: 0;
        margin: 32px 0;
    }
}
