/**
 * Section -- projects
 */
.hero-content {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #EAEAEA;
    background-image: url("../images/google-abstract.png");
}
.hero-content .panel {
    border-radius: 14px;
    padding: 42px 22px;
    text-align: center;
}
.hero-content p {
    font-size: 1.125em;
}
#menu {
    margin-bottom: 288px;
}
#title {
    margin-bottom: 64px;
}