/**
 * Section -- projects
 */
.projects-content {
  background: rgba(33,149,243,1);
  background: -moz-linear-gradient(-45deg, rgba(33,149,243,1) 0%, rgba(63,81,181,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(33,149,243,1)), color-stop(100%, rgba(63,81,181,1)));
  background: -webkit-linear-gradient(-45deg, rgba(33,149,243,1) 0%, rgba(63,81,181,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(33,149,243,1) 0%, rgba(63,81,181,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(33,149,243,1) 0%, rgba(63,81,181,1) 100%);
  background: linear-gradient(135deg, rgba(33,149,243,1) 0%, rgba(63,81,181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2195f3', endColorstr='#3f51b5', GradientType=1 );
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 767px;
  .panel {
      background-color: $grey-50;
      border-radius: 14px;
      box-shadow: none;
      padding: 32px 22px;
      a {
          margin-bottom: 0;
      }
  }
  p {
      font-size: 1.125em;
  }
  ul:hover li {opacity: 0.5;}
  ul li:hover {opacity: 1;}
  ul.pagination {
      li {
          height: auto;
      }
      a:hover {
          background: $accent-grey;
          color: #fefefe;
      }
      .mega-octicon {
          font-size: 48px;
          color: $base-grey;
      }
  }
}
ul#tech {
  list-style: none;
  text-align: left;
  padding: 0;
  width: 100%;
  li {
    display: inline-block;
    text-indent: -9999px;
    height: 32px;
    margin-right: 8px;
    background: url('https://cdn.rawgit.com/chrisvogt/projects/master/img/sprite-tech.png') no-repeat;
  }
  .php {
    width: 44px;
  }
  .ruby {
    width: 32px;
    background-position: -44px 0;
  }
  .cakephp {
    width: 32px;
    background-position: -76px 0;
  }
  .jekyll {
    width: 66px;
    background-position: -108px 0;
  }
  .jquery {
    width: 82px;
    background-position: -174px 0;
  }
  .chrome {
    width: 32px;
    background-position: -256px 0;
  }
  .html5 {
    width: 24px;
    background-position: -288px 0;
  }
  .polymer {
    width: 32px;
    background-position: -312px 0;
  }
  .mongodb {
    width: 20px;
    background-position: -344px 0;
  }
  .bower {
    width: 36px;
    background-position: -364px 0;
  }
  .grunt {
    width: 24px;
    background-position: -400px 0;
  }
  .foundation {
    width: 28px;
    background-position: -424px 0;
  }
  .bootstrap {
    width: 34px;
    background-position: -453px 0;
  }
  .sass {
    width: 32px;
    background-position: -486px 0;
  }
}
#menu {
    margin-bottom: 288px;
}
#title {
    margin-bottom: 64px;
}
#modal-project {
    padding: 0;
    .row {
      text-align: center;
      padding: 24px;
    }
    .created {
      color: #686868;
      font-style: italic;
      text-align: center;
      font-size: .75em;
    }
    h3 {
      color: #080808;
      font-family: 'Quartzite', 'sans-serif';
      font-size: 1.75em;
      line-height: 1.4em;
      padding: 10px 0 0;
      margin: 14px 0 0;
    }
    h5 {
      font-family: 'Quartzite', 'sans-serif';
      font-size: .9em;
      @media only screen and (min-width: 40.063em) {
        text-align: right;
        margin: 18px 0;
        line-height: 32px;
      }
    }
    #tech {
      @media only screen and (min-width: 40.063em) {
        text-align: left;
        margin: 18px 0;
      }
      @media only screen and (max-width: 40em) {
        text-align: center;
        margin-bottom: 14px;
      }
    }
    header {
        background: #181818;
    }
    .showcase {
      margin-top: 24px;
      padding: 22px 44px;
      background: $blue-grey-50;
    }
    .button-group {
      text-align: center;
    }
    .button-group a {
      margin-bottom: 0;
    }
}
