#social {
    background-image: url("https://cdn.rawgit.com/chrisvogt/chrisvogt.me/master/img/bg-delaunay.png");
    background-size: cover;
    background-position: 0 -300px;
    line-height: 258px;
    text-align: center;
    padding: 0;
    a {
        color: #e0e0e0;
    }
}
#links .inline-list {
	margin-bottom: 0;
}
#links li {
	float: none;
	line-height: 258px;
    margin: 0 32px;
	display: inline-block;
}