/**
 * Section -- stats
 */
section#stats {
    padding: 64px 0;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: .875em;
    a {
    	margin-bottom: 0;
    }
	.mega-octicon {
		font-size: 64px;
		display: block;
	}
	.v {
		display: block;
	    font-family: 'Merriweather', serif;
		font-size: 1.5rem;
	}
}
#stats-projects {
	a {
		background-color: #2788B3;
	}
}
#stats-hours {
	a {
		background-color: #B5ECA2;
	}
}