/**
 * Typography
 */

// -- common
body {
    font-family: 'Merriweather', serif;
    font-size: 100%;
}

// -- accents
hr {
    text-align: center;
    margin: 0 auto;
    opacity: 0.5;
}
ul {
    text-transform: uppercase;
}
ul.inline-list.right {
    text-transform: none;
}
ul.inline-list.right a {
    color: #000;
}
ul.inline-list.right a:hover {
    color: rgba(0, 0, 0, 0.5);
}

// -- headlines
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.4em;
    color: #fff;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 0px;
}
h2 {
    font-family: 'Merriweather', serif;
    color: #212121;
    font-size: 36px;
    line-height: 34px;
}
h3 {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    color: #fff;
    line-height: 10px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
}
h4 {
    font-family: 'Quicksand', sans-serif;
    color: #000;
    font-size: 28px;
    padding-top: 5px;
}
blockquote {
    text-decoration: none;
    text-transform: none;
}

.about-content p {
    font-size: 1.125em;
    line-height: 1.5em;
}
footer,
ul.inline-list.right a {
    color: #afafaf;
}