// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Hides an element from the DOM.
 */
.hidden {
    display: none;
}

/**
 * Floats an element to the right.
 */
.pull-right {
    float: right;
}

/**
 * Flexbox helpers
 */
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-self-center {
    align-self: center;
}

/**
 * Spacing helpers
 */
.mb-3 {
    margin-bottom: $default-spacing;
}

.pt-3 {
    padding-top: $default-spacing;
}

.bg-dark-grey {
    background-color: $grey-800;
}
