/**
 * Typography
 */

/* common */
body {
    font-family: $text-default-font-stack;
}

.text-small {
    font-size: .875em;
}

.text-inverse {
    @include smooth;
    color: white;
}

/* accents */
ul.inline-list.right,
footer ul.inline-list {
    text-transform: none;
}

ul.inline-list.right a,
footer ul.inline-list {
    color: black;
}

ul.inline-list.right a:hover,
footer ul.inline-list {
    color: rgba(0, 0, 0, 0.5);
}

/* headlines */
h1 {
    font-family: $text-headline-font-stack;
}

h2 {
    font-family: $text-subhead-font-stack;
    color: $text-jet;
}

h3 {
    font-family: $text-subhead-font-stack;
}

h4 {
    font-family: $text-subhead-font-stack;
}

.font-stack-default {
    font-family: $text-default-font-stack;
}

.font-stack-headline {
    font-family: $text-headline-font-stack;
}

.font-stack-subhead {
    font-family: $text-subhead-font-stack;
}

footer,
ul.inline-list a,
.text-muted {
    color: #afafaf;
}

.text-dodger-blue {
    color: $dodger-blue;
}

.text-subhead {
    font-family: $text-subhead-font-stack;
}

.text-drop-cap {
    color: $text-jet;
    float: left;
    font-family: $text-headline-font-stack;
    font-size: 75px;
    line-height: 75px;
    padding-right: 8px;
    padding-left: 3px;
}
