/**
 * Typography
 */

/* common */
body {
    color: $text-raven;
    font-family: $text-default-font-stack;
    font-size: 100%;
}

.text-small {
    font-size: .875em;
}

.text-inverse {
    color: white;
}

@media #{$medium-up} {
    .text-medium-left {
        text-align: left!important;
    }
}

/* accents */
hr {
    text-align: center;
    margin: 0 auto;
    opacity: 0.5;
}

ul {
    text-transform: uppercase;
}

ul.inline-list.right,
footer ul.inline-list {
    text-transform: none;
}

ul.inline-list.right a,
footer ul.inline-list {
    color: black;
}

ul.inline-list.right a:hover,
footer ul.inline-list {
    color: rgba(0, 0, 0, 0.5);
}

/* headlines */
h1 {
    font-family: $text-headline-font-stack;
    font-size: 2.124em;
    margin-top: 16px;
}
.page-home h1 {
    line-height: 28px;
}

@media #{$medium-up} {
    h1 {
        font-size: 3.124em;
    }
}

h2 {
    font-family: $text-subhead-font-stack;
    margin-bottom: 1em;
    padding-top: 0;
    color: $text-jet;
    font-size: 36px;
    line-height: 34px;
    font-weight: 400;
}

h3 {
    font-family: $text-subhead-font-stack;
    font-size: 24px;
    color: white;
    line-height: 10px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
}

h4 {
    font-family: $text-subhead-font-stack;
    color: black;
    font-size: 28px;
    padding-top: 5px;
}

.font-stack-default {
    font-family: $text-default-font-stack;
}

.font-stack-headline {
    font-family: $text-headline-font-stack;
}

blockquote {
    text-decoration: none;
    text-transform: none;
}

footer,
ul.inline-list a,
.text-muted {
    color: #afafaf;
}

.text-drop-cap {
    color: $text-jet;
    float: left;
    font-family: $text-default-font-stack;
    font-size: 75px;
    line-height: 75px;
    padding-right: 8px;
    padding-left: 3px;
}
