// -----------------------------------------------------------------------------
// This file contains all styles related to the MASTHEAD of the site/application.
// -----------------------------------------------------------------------------

.hero {
  padding-top: 80px;
  position: relative;
}
#title .lead {
  color: $grey-50;
  font-family: 'Quicksand', sans-serif;
  span {
    display: none;
  }
  @media #{$medium-up} {
    span {
      display: inline;
    }
  }
}
.shrunken-head {
  padding-top: 0;
  padding-bottom: 0;
}
#announce {
  bottom: 24px;
  h1 {
    margin-bottom: .24em;
  }
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: $dodger-blue;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  &:hover {
    background-color: $dodger-uniform-blue;
  }
}
