<template id="pinned-repositories-template">
  <div class="pinned-repositories-column col-xs-12 col-md-6 text-md-left mb-3">
    <a class="pinned-repositories-link text-dark" href="#">
      <div class="card bg-light rounded-0 hvr-trim h-100 w-100">
        <div class="card-body">
          <h5 class="card-title pinned-repositories-title font-stack-headline text-dodger-blue"></h5>
          <p class="card-text pinned-repositories-description font-stack-default"></p>
        </div>
      </div>
    </a>
  </div>
</template>
