// -----------------------------------------------------------------------------
// This file contains all styles related to the FOOTER of the site/application.
// -----------------------------------------------------------------------------

footer#docfoot {
    p,
    ul {
        font-size: .75em;
        line-height: 32px;
        margin-bottom: 0;
    }

    p {
        @media #{$small-only} {
            text-align: center;
        }
    }

    ul {
        float: right;

        @media #{$small-only} {
            display: inline-block;
            float: none;
            text-align: center;
        }
    }

    .inline-list {
        margin: 0;
    }

    @media #{$small-only} {
        div {
            text-align: center;
        }
    }
}
