[Desktop Entry]
Encoding=UTF-8
Name=Moqup
Type=Link
URL=https://app.moqups.com/chris@artinreality.com/81jSoAGytP/view/page/add529438
Icon=text-html
Name[en_US]=moqup
