// -----------------------------------------------------------------------------
// This file contains all styles related to the INSTAGRAM widget.
// -----------------------------------------------------------------------------

$ig--lg-breakpoint: 40.063em;
$ig--xl-breakpoint: 1400px;
$ig--default-space: 25px;
$ig--half-space: 25px * .5;

// NOTE: prevent the page from scrolling behind the modal
body.ig--modal-open {
    overflow: hidden;
}

// TODO: factor these styles out of this component
#ig--feed {
    ul {
        margin: 0 -0.625rem -1.25em;
    }

    .panel-sub {
        margin-top: 1.25rem;
        margin-bottom: .5rem;
        background: none;
    }
}

#ig--overlay {
    background: rgba(0,0,0,0.6);
    position: fixed;
    color: white;
    z-index: 104;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;

    @media only screen and (min-width: $ig--lg-breakpoint) {
        overflow-y: hidden;
    }

    /* CSS Reset */
    div, span, object, iframe,
    h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    strong, b {
        font-weight: 700;
    }

    p {
        font-size: 14px;
    }

    a {
        color: #262626;

        &:hover {
            color: #363636;
        };
    }

    a.button {
        color: white;

        &:hover {
            color: #efefef;
        }
    }

    .ig--modal {
        background: white;
        color: #262626;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;

        display: flex;
        flex-wrap: wrap;

        width: 100%;

        @media only screen and (min-width: $ig--lg-breakpoint) {
            max-height: 90%;
            max-width: 90%;

            top: 50%;
            left: 50%;

            overflow: hidden;
            position: fixed;
            transform: translate(-50%, -50%);
        }

        // HACK: quick fix for an issue (#109) visible on large resolutions
        @media only screen and (min-width: $ig--xl-breakpoint) {
            max-width: 1280px;
        }
    }

    // Following are utility classes that are specific to this widget.

    .bg-dark-gray {
        background: #262626;
    }

    .bg-off-white {
        background-color: #f8f8f8;
    }

    .circle {
        border-radius: 50%;
    }

    .contain-object {
        object-fit: contain;
    }

    .display-flex {
        display: flex;
    }

    .flex-50 {
        flex: 50%;
    }

    .hidden-mobile {
        visibility: hidden;

        @media only screen and (min-width: $ig--lg-breakpoint) {
            visibility: auto;
        }
    }

    .margin-b-1 {
        margin-bottom: $ig--half-space;
    }

    .margin-b-2 {
        margin-bottom: $ig--default-space;
    }

    .margin-r-1 {
        margin-right: $ig--half-space;
    }

    .padding-1 {
        padding: 6px;
    }

    .padding-2 {
        padding: $ig--half-space;
    }

    .padding-3 {
        padding: $ig--default-space;
    }

    .radius-default {
        border-radius: 6px;
    }

    .relative {
        position: relative;
    }

    .txt-center {
        text-align: center;
    }

    .txt-muted {
        color: #999;
    }

    .txt-size-default {
        font-size: 14px;
    }

    .txt-small {
        font-size: 12px;
        line-height: 14px;
    }
}

.ig--head-content {
    margin-left: $ig--half-space;
}

.ig--image-container {
    align-items: center;
    display: flex;

    flex: 70%;

    @media only screen and (min-width: $ig--lg-breakpoint) {
        flex: 50%;
    }
}

.ig--modal-head {
    display: flex;
    margin-bottom: $ig--default-space;
}

.ig--modal-close {
    position: absolute;
    top: $ig--half-space;
    right: $ig--half-space;
}

.ig--modal-cta .button {
    padding-top: $ig--half-space;
    padding-bottom: $ig--half-space;
}
