// -----------------------------------------------------------------------------
// This file contains all styles related to the PHOTOS component.
// -----------------------------------------------------------------------------

#photos {
    ul {
        margin: 0 -0.625rem -1.25em;
    }

    .panel-sub {
        margin-top: 1.25rem;
        margin-bottom: .5rem;
        background: none;
    }
}
