.post-container {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    max-width: 740px;
}

.page-post {
    background-color: white;

    h1 {
        font-family: $text-default-font-stack;
        font-weight: 600;
        text-align: center;
    }

    .post-date {
        color: $text-raven;
    }
}

.author-container {
    background-color: $blue-grey-50;
    padding: 32px 0;
}
