.post-container {
    --baseline-multiplier: 0.17;
    --x-height-multiplier: 0.375;
    max-width: 740px;
}

.post-content {
    p,
    ul li {
        font-size: 1.1rem;
        line-height: 2.4rem;
    }

    table {
        width: 100%;
    }

    ul {
        font-family: inherit;
        font-size: inherit;
        text-transform: inherit;
    }
}

.page-post {
    background-color: white;

    h1 {
        font-family: $text-default-font-stack;
        font-weight: 600;
        text-align: center;
    }

    .post-date {
        color: $text-raven;
    }
}
