// -----------------------------------------------------------------------------
// This file contains all styles related to the PROJECTS component.
// -----------------------------------------------------------------------------

#projects {
    background-color: $dodger-blue;

    .latest-repos-description {
        min-height: 50px;
    }

    .panel {
        width: 100%;
    }
}
