// -----------------------------------------------------------------------------
// This file contains all styles related to the PROJECTS component.
// -----------------------------------------------------------------------------

#projects {
    background-color: $dodger-blue;

    .pinned-repositories-description {
        min-height: 50px;
    }
}

#latest-commit a {
    text-decoration: underline;
    &:hover { text-decoration: none; }
}
