// -----------------------------------------------------------------------------
// This file contains all styles related to the QUOTES component.
// -----------------------------------------------------------------------------

section#quote {
    text-align: center;
    min-height: 200px;
    padding: 50px;

    p {
        line-height: 50px;
    }

    .orbit-container {
        min-height: 84px;
    }

    .orbit-timer {
        display: none;
    }

    blockquote {
        border-left: none;
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }
}

.orbit-container .orbit-next > span {
    border-left-color: #6654B0;
}

.orbit-container .orbit-prev > span {
    border-right-color: #6654B0;
}
