// -----------------------------------------------------------------------------
// This file contains all styles related to the SOCIAL component.
// -----------------------------------------------------------------------------

#social {
    text-align: center;
    padding: 0;

    a {
        color: #cecece;
    }

    a:hover {
        color: white;
    }
}

#social-profiles {
    margin-bottom: 0;
    margin: 64px auto;
}

#social-profiles li {
    float: none;
    display: inline-block;
    font-size: 1.25rem;
    margin: 0 14px;
}

@media only screen and (max-width: $breakpoint-lg) {
    #social-profiles li {
        margin: 0 24px;
        font-size: 2rem;
    }
}

@media only screen and (min-width: $breakpoint-lg) {
    #social-profiles li {
        margin: 0 42px;
        font-size: 2.675rem;
    }
}

@media only screen and (min-width: $breakpoint-xl) {
    #social-profiles li {
        margin: 0 50px;
        font-size: 3rem;
    }
}
