// -----------------------------------------------------------------------------
// This file contains all styles related to the ACCENTS of the site/application.
// -----------------------------------------------------------------------------

footer .fa-heart {
    color: #ce0000;
}

footer .fa-twitter {
    color: $twitter-blue;
}

#follow-button {
    background: $dodger-blue;
    &:hover {
        background: $dodger-blue;
    }
}

#g-person {
    margin: 32px 0 32px 32px;
}

em.accent {
    color: #90A4AE;
}

#project-list li,
#social a,
.button {
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.navbar-brand {
    letter-spacing: 1.6px;
}