// -----------------------------------------------------------------------------
// This file contains all COMMON styles for the site/application.
// -----------------------------------------------------------------------------

body {
    background: $blue-grey-50;
}

.bg-gradient {
    background: linear-gradient(135deg, #711e9b, #0a2364);
}

.bg-gradient-inverse {
    background: linear-gradient(135deg, #0a2364, #711e9b);
}

.m-b-1 {
    margin-bottom: 16px;
}
