// -----------------------------------------------------------------------------
// This file contains all styles related to the FOOTER of the site/application.
// -----------------------------------------------------------------------------

footer.footer--page {
    a {
        color: #afafaf;
        &:hover {
            color: white;
        }
    }

    p,
    ul {
        font-size: .75em;
        line-height: 32px;
        margin-bottom: 0;
    }

    ul {
        float: right;

        @media #{$small-only} {
            display: inline-block;
            float: none;
            text-align: center;
        }
    }

    .twitter-username {
        color: $twitter-blue;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .inline-list {
        margin: 0;
    }

    @media #{$small-only} {
        div {
            text-align: center;
        }
    }
}
