// d. Media Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

// TODO(cvogt): factor all of these out. They are leftover from
// Zurb 5.

$small-breakpoint: em-calc(640);
$medium-breakpoint: em-calc(1024);
$small-range: (0, $small-breakpoint);
$medium-range: ($small-breakpoint + em-calc(1), $medium-breakpoint);
$screen: "only screen";
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";
$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
