// -----------------------------------------------------------------------------
// This file contains all COMMON styles for the site/application.
// -----------------------------------------------------------------------------

body {
  background: $blue-grey-50;
}

.contain-to-grid,
footer {
  transition: background 1s ease;
  background: rgba(10,35,100,1);
  background: -moz-linear-gradient(-45deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,35,100,1)), color-stop(100%, rgba(113,30,155,1)));
  background: -webkit-linear-gradient(-45deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
  background: linear-gradient(135deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2364', endColorstr='#711e9b', GradientType=1 );
}

.top-bar {
  background: none;
}
.top-bar {
	display: none;
  ul li {
    background: none;
  }
  a {
    background: none;
  }
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
  transition: background 1s ease;
}
.top-bar.expanded .title-area  {
  background: none;
}

.hero,
#social {
  background: rgba(69,39,160,1);
  background: -moz-linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(69,39,160,1)), color-stop(100%, rgba(113,30,155,1)));
  background: -webkit-linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
  background: -o-linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
  background: linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4527a0', endColorstr='#711e9b', GradientType=1 );
}
