// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/* Palettes */

$base-grey: #fefefe;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eee;
$grey-800: #424242;
$grey-900: #212121;
$blue-grey-50: #eceff1;

$cyan-a200: #18ffff;
$cyan-a400: #00E5FF;
$cyan-a700: #00B8D4;

$light-blue-a200: #81D4FA;
$light-blue-a400: #29B6F6;
$dodger-blue: #1E90FF;
$dodger-uniform-blue: #005A9C;

$light-green-a200: #b2ff59;
$light-green-a400: #76FF03;
$light-green-a700: #64DD17;
$green-500: #4CAF50;
$green-a700: #00C853;
$green-a400: #00E676;

$vegas-gold: #c5b358;

/* Text */

$text-jet: #131516;
$text-raven: #373D3f;
$text-asher: #555F61;
$text-headline-font-stack: 'Quicksand', sans-serif;
$text-subhead-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-default-font-stack: 'Merriweather', serif;

/* Elements */

$divider-light: 1px solid #dfdfdf;
$default-border-radius: 4px;
$default-box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
$default-spacing: 1.25em;
