<!doctype html>
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--
    www.chrisvogt.me » @c1v0
    https://github.com/chrisvogt/www
 -->
    <title>{{ site.title }}</title>

    <meta name="description" content="{{ site.description }}">
    <link rel="author" href="humans.txt">

    <meta name="theme-color" content="#4527a0">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="/assets/images/favicon-57.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon-152.png">

    <meta name="og:title" content="{{ site.title }}">
    <meta name="og:description" content="{{ site.description }}">
    <meta name="og:image" content="{{ site.banner_image_url }}"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@c1v0">
    <meta name="twitter:creator" content="@c1v0">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="https://res.cloudinary.com/chrisvogt/image/upload/v1482915326/og-image_a1i3rp.png">

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "givenName": "Chris",
      "familyName": "Vogt",
      "name": "Chris Vogt",
      "alternateName": "c1v0",
      "jobTitle": "Software Engineer",
      "image": "https://gravatar.com/avatar/3e0cd2da42672a768e98a2b0c0617b72?s=500",
      "url": "https://www.chrisvogt.me",
      "sameAs" : [
        "https://twitter.com/c1v0",
        "https://www.instagram.com/c1v0",
        "https://www.linkedin.com/in/cjvogt",
        "https://plus.google.com/+chrisvogt94952",
        "https://github.com/chrisvogt",
        "https://www.behance.net/chrisvogt",
        "https://stackoverflow.com/users/1391826/chris-vogt",
        "https://dribbble.com/chrisvogt"
      ]
    }
    </script>

    <link rel="stylesheet" href="/assets/styles/main.css">

    <link rel="dns-prefetch" href="//api.github.com">
    <link rel="dns-prefetch" href="//books.google.com">
    <link rel="dns-prefetch" href="//chrisvogt.firebaseio.com">
    <link rel="dns-prefetch" href="//recently-read.chrisvogt.me">
    <link rel="dns-prefetch" href="//scontent.cdninstagram.com">
  </head>
  <body data-magellan-destination="home">
    <!-- Component: Navigation -->
    <div id="primary-nav" class="contain-to-grid sticky">
      <nav class="top-bar" role="navigation" data-options="sticky_on:[medium,large];scrolltop:false;" data-topbar>
        <ul class="title-area">
          <li class="name">
            <span class="brand"><a href="/">chrisvogt.me</a></span>
          </li>
          <li class="toggle-topbar menu-icon">
            <a href="#">
              <span>Menu</span>
            </a>
          </li>
        </ul>
        <section class="top-bar-section" data-magellan-expedition>
          <ul class="right">
            <li>
              <a href="https://stats.chrisvogt.me" title="Coding stats — last 30 days">
                Stats
              </a>
            </li>
          </ul>
          <ul class="left">
            <li class="link-projects" data-magellan-arrival="projects">
              <a href="#projects" title="Projects">
                Projects
              </a>
            </li>
            <li data-magellan-arrival="photos">
              <a href="#photos" title="Photos">
                Photos
              </a>
            </li>
            <li class="hidden" data-magellan-arrival="recently-read">
              <a href="#recently-read" title="Recently read books">
                Recently Read
              </a>
            </li>
          </ul>
        </section>
      </nav>
    </div>
