---
slug: home
---

{% include section/header.html %}

{% include component/masthead.html %}

{% include component/promo.html %}

{% include component/projects.html %}

<div class="pt-3 bg-dark-grey">
  {% if site.posts.size > 0 %}
  {% include component/blog-posts.html %}
  {% endif %}

  {% include component/instagram.html %}

  {% include component/recently-read.html %}

</div>

{% include component/quotes.html %}

<script>
  window.__WWW_CONFIG__ = {
    instagram: {
      accessToken: '{{site.components.instagram.access_token}}',
      clientId: '{{site.components.instagram.client_id}}',
      userId: '{{site.components.instagram.user_id}}'
    },
    latestCommit: {
      url: '{{site.components.latest_commit.url}}',
      username: '{{site.components.latest_commit.username}}'
    },
    latestRepos: '{{site.components.latest_repos}}',
    metas: '{{site.components.metas}}',
    profiles: '{{site.components.profiles}}',
    quotes: '{{site.components.quotes}}',
    recentlyRead: '{{site.components.recently_read}}'
  };

  window.__WWW_LAYOUT_MODULES__ = [
    'instagram',
    'latest-commit',
    'latest-repository',
    'navigation',
    'quotes',
    'recently-read',
    'twitter'
  ];
</script>

{% include section/footer.html %}
