---
slug: home
---

{% include section/header.html %}

{% include component/masthead.html %}

{% include component/promo.html %}

{% include component/projects.html %}

<div class="pt-3 bg-dark-grey">

  {% include component/blog-posts.html %}

  {% include component/instagram.html %}

  {% include component/recently-read.html %}

</div>

{% include component/quotes.html %}

<script>
  window.__WWW_LAYOUT_MODULES__ = [
    'instagram',
    'latest-commit',
    'latest-repository',
    'quotes',
    'recently-read',
    'twitter'
  ];
</script>

{% include section/footer.html %}
