---
slug: post
---

{% include section/header.html %}
{% capture headline %}
<h1>
  <span class="bg-white px-2">
    {{ page.title }}
  </span>
</h1>

<div class="post-date text-white text-center m-b-1">
  <i class="far fa-calendar-alt"></i>&nbsp;
  {{ page.date | date: '%B %d, %Y' }}
</div>
{% endcapture %}

<div class="masthead masthead--post d-flex flex-column align-items-center justify-content-center w-100 py-5 px-3">
  {{ headline }}
</div>

<div class="container mt-4 mb-1">
  <div class="row">

    <div class="col-12">
      <div class="post-content">
        {{ content }}
      </div>
    </div>

  </div>
</div>

<div class="author-container py-3 bg-dark text-light">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-3 text-center">
        <img
          alt="Avatar – {{ site.strings.name }}"
          class="rounded-circle mb-3 mb-md-0"
          src="/assets/images/avatar-256px.jpg"
          height="128"
          width="128"
        >
      </div>

      <div
        class="col-12 col-md-9 d-flex align-items-center text-center text-md-left"
        style="min-height: 128px;line-height: 1.9em;"
      >
        {{ site.strings.bio }}
      </div>

    </div>
  </div>
</div>

<script>
  window.__WWW_CONFIG__ = {
    metas: '{{site.components.metas}}',
    profiles: '{{site.components.profiles}}'
  };

  window.__WWW_LAYOUT_MODULES__ = [
    'instagram',
    'latest-commit',
    'latest-repository',
    'quotes',
    'recently-read',
    'twitter'
  ];
</script>

{% include section/footer.html %}
