---
slug: post
---

{% include section/header.html %}
{% capture headline %}<h1 class="mt-3">{{ page.title }}</h1>{% endcapture %}

<div class="container">
  <div class="row">
    <div class="col-12">

      {{ headline }}

      <div class="post-date text-center m-b-1">
        <i class="far fa-calendar-alt"></i>&nbsp;
        {{ page.date | date: '%B %d, %Y' }}
      </div>

      <div class="post-content">
        {{ content }}
      </div>

    </div>
  </div>
</div>

<div class="author-container py-3 bg-dark text-light">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-3 text-center">
        <img
          alt="Avatar – {{ site.strings.name }}"
          class="circle mb-3 mb-md-0"
          src="/assets/images/avatar-256px.jpg"
          height="128"
          width="128"
        >
      </div>

      <div
        class="col-12 col-md-9 d-flex align-items-center text-center text-md-left"
        style="min-height: 128px;line-height: 1.9em;"
      >
        {{ site.strings.bio }}
      </div>

    </div>
  </div>
</div>

{% include section/footer.html %}
