// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/* Colors */
$accent-grey: #eceff1;
$base-grey: #fefefe;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eee;
$grey-900: #212121;
$blue-grey-50: #eceff1;

$cyan-a200: #18ffff;
$cyan-a400: #00E5FF;
$cyan-a700: #00B8D4;

$light-blue-a200: #81D4FA;
$light-blue-a400: #29B6F6;
$dodger-blue: #1E90FF;
$dodger-uniform-blue: #005A9C;

$light-green-a200: #b2ff59;
$light-green-a400: #76FF03;
$light-green-a700: #64DD17;

$green-500: #4CAF50;
$green-a700: #00C853;
$green-a400: #00E676;

$vegas-gold: #c5b358;

/* Text */
$text-jet: #131516;
$text-raven: #373D3f;
$text-asher: #555F61;

/* Elements */
$divider-light: 1px solid #dfdfdf;
